@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply h-9 p-2 w-6 cursor-pointer rounded lg:w-9  lg:hover:bg-gray-200;
  }
  .voteButtons {
    @apply h-5 w-5 rounded hover:bg-gray-200 cursor-pointer;
  }
  .postButtons {
    @apply flex cursor-pointer items-center space-x-1 rounded p-2 text-sm font-semibold hover:bg-gray-200;
  }
}

.linear::before {
      background: linear-gradient(0deg, rgba(0, 0, 0, .7) 0, transparent) !important; 
      content: "";
        height: 80px;
        position: absolute;
        width: 100%;
}